.ad_container, 
.js_framed-ad-container, 
.di_panorama-wrapper, 
.di_comservice-container,
#serviceplusPaywallpaywall-container {
	display: none;
}

.di_top-nav__wrapper {
	margin-top: 35px;
}

.paywall-content {
	height: 100% !important;
	overflow: inherit !important;
}